@model ProfessorModel

@{

    ViewData["Title"] = "Remover Professor";

}

<div>

    <h1>Tem certeza que deseja remover o Professor: Vitor Mattos?</h1>
    <a role="button" class="btn btn-success btn-block" asp-controller="Admin" asp-action="ListarProfessores">Voltar</a>
    <br />
    <a role="button" class="btn btn-danger btn-block" asp-controller="Admin" asp-action="ApagarProfessor">Remover</a>

</div>
