@model AlunoModel

@{

    ViewData["Title"] = "Remover Aluno";

}

<div>

    <h1>Tem certeza que deseja remover o aluno: Vitor Mattos?</h1>
    <a role="button" class="btn btn-success btn-block" asp-controller="Admin" asp-action="ListarAlunos">Voltar</a>
    <br />
    <a role="button" class="btn btn-danger btn-block" asp-controller="Admin" asp-action="ApagarAluno">Remover</a>

</div>
