@{

    ViewData["Title"] = "Remover Coordenador";

}

<div>

    <h1>Tem certeza que deseja remover o Coordenador: Vitor Mattos?</h1>
    <a role="button" class="btn btn-success btn-block" asp-controller="Admin" asp-action="ListarCoordenadores">Voltar</a>
    <br />
    <a role="button" class="btn btn-danger btn-block" asp-controller="Admin" asp-action="ApagarCoordenador">Remover</a>

</div>
