@model CoordenadorModel

@{
    ViewData["Title"] = "Coordenador";
}

<html>
<head>
    <style>

        .container-info {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #292929;
            border-radius: 5px;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
        }

        .info-item {
            margin-bottom: 10px;
        }

        .label {
            font-weight: bold;
        }
    </style>
</head>
<body>

    <a role="button" class="btn btn-primary" asp-controller="Admin" asp-action="ListarCoordenadores">Voltar</a>

    <div class="container-info">
        <h1>Informações Pessoais</h1>
        <div class="info-item">
            <span class="label">Nome:</span> João da Silva
        </div>
        <div class="info-item">
            <span class="label">Idade:</span> 30 anos
        </div>
        <div class="info-item">
            <span class="label">E-mail:</span> joao.silva@example.com
        </div>
        <div class="info-item">
            <span class="label">Telefone:</span> (11) 1234-5678
        </div>
        <div class="info-item">
            <span class="label">Cidade:</span> São Paulo
        </div>
    </div>


</body>
</html>